
.navBar {
    background-color: #01034a;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.textDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    padding: 30px 15px;
    text-align: center;
    font-size: 24px;
    font-family: Poppins-M;
}

.buttonDiv {
    padding: 15px 30px;
    display: flex;
    justify-content: flex-end; 
    align-items: center;

    .button {
        outline: 0;
        border: 0;
        background-color: #5F152C;
        cursor: pointer;
        font-size: 16px;
        color: white;
        padding: 10px 20px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Poppins-L;
        gap: 10px; 
    }
}

@media screen and (max-width: 650px) {
    .navBar {
        grid-template-columns: 1fr;
    }

    .logoDiv {
        justify-content: center; 
    }

    .textDiv {
        order: -1; 
        padding: 15px 0; 
    }

    .buttonDiv {
        justify-content: center; 
    }
}
